################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calastone/FileContentIndex
/.vs/Calastone/v17
/.vs
/obj/*
